@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-5">Русская рулетка, но...</h1>
    <p>при каждом выстреле у нас падает один из микросервисов :(</p>
</div>
<div>
    @{
        await Html.RenderPartialAsync("~/Pages/Revolver/UI/Revolver.cshtml");
    }
</div>
<div class="mt-5">
    @{
        await Html.RenderPartialAsync("~/Pages/LogAction/UI/Logs.cshtml");
    }
</div>