@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<div class="text-center">
    <button id="RevolverButton" onclick="shoot()">
        <image id="Revolver" src="lib/revolver/revolverV1.png" alt="revolver" width="900px"/>
    </button><br/>
    <label id="Result"></label>
</div>

<script>
    async function shoot(){
        const labelResult = document.getElementById("Result");
        labelResult.innerHTML = "Летит шальная...";
        
        const revolverButton = document.getElementById("RevolverButton");
        revolverButton.setAttribute("disabled", null);
        const revolver = document.getElementById("Revolver");
        revolver.setAttribute("src", 'lib/revolver/revolverV1.gif');
        
        let result;
        const duration = 2700;
        setTimeout(() => {
            if (result) {
                labelResult.innerHTML = "Сервис " + result.serviceNameRus + " упал";
            }
            else {
                labelResult.innerHTML = "Какому-то сервису повезло выжить";
            }
            revolver.setAttribute("src", 'lib/revolver/revolverV1.png');
            revolverButton.removeAttribute("disabled");
        }, duration)
        
        result = await apiShoot();
    }

    async function apiShoot(){
        const response = await fetch("Revolver/Shoot", {
            method: "POST",
            headers: {"Accept": "application/json"},
            body: JSON.stringify(null)
        });
        if (response.ok){
            console.log(response.status);
            const responseJson = await response.json();
            console.log(responseJson);
            return responseJson;
        }
        return false;
    }
</script>